@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: black;
  color: #f1f1f1;
  height: 100%;
}

#root {
  height: 100%;
}

/* For Firefox: thumb and track color */
html {
  scrollbar-width: thin;
  scrollbar-color: #276fff rgba(0, 0, 0, 0);
}

/* For Edge */
body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #276fff ;
}

::-webkit-scrollbar-thumb {
  background-color: 276fff ;
  border-radius: 20px; 
}

.blue-color {
  color: #276fff;
}

.blue-background {
  background-color: #276fff;
}
